extensions:
	nette.cache: Nette\Bridges\CacheDI\CacheExtension(%tempDir%/nette.cache)
	test: Tests\OriNette\ObjectMapper\Doubles\RuleAddingExtension
	orisai.objectMapper: OriNette\ObjectMapper\DI\ObjectMapperExtension

services:
	test2: Tests\OriNette\ObjectMapper\Doubles\TestRule2
	nette.cache.storage: Nette\Caching\Storages\MemoryStorage

orisai.objectMapper:
	rules:
		- @test.rule
		- Tests\OriNette\ObjectMapper\Doubles\ExtendingTestRule()
		- @Tests\OriNette\ObjectMapper\Doubles\TestRule2
