parameters:
	ignoreErrors:
		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\OriNette\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\ExtendingTestRule' and Tests\\\\OriNette\\\\ObjectMapper\\\\Doubles\\\\ExtendingTestRule will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/DI/ObjectMapperExtensionTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\OriNette\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\TestRule' and Tests\\\\OriNette\\\\ObjectMapper\\\\Doubles\\\\TestRule will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/DI/ObjectMapperExtensionTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Orisai\\\\\\\\ObjectMapper\\\\\\\\Rules\\\\\\\\MixedRule' and Orisai\\\\ObjectMapper\\\\Rules\\\\MixedRule will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/DI/RuleManagerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\OriNette\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\ExtendingTestRule' and Tests\\\\OriNette\\\\ObjectMapper\\\\Doubles\\\\ExtendingTestRule will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/DI/RuleManagerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\OriNette\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\TestRule' and Tests\\\\OriNette\\\\ObjectMapper\\\\Doubles\\\\TestRule will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/DI/RuleManagerTest.php

		-
			message: "#^Cannot call method getRule\\(\\) on OriNette\\\\ObjectMapper\\\\DI\\\\LazyRuleManager\\|null\\.$#"
			count: 9
			path: ../tests/Unit/DI/RuleManagerTest.php
